/*
Template Name: assignments Admin - Responsive Admin Template
Author: Multipurpose Themes
File: rtl scss
*/
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");
/*Social Media Colors*/
/*Theme Colors*/
.rtl {
    text-align: right !important;
    direction: rtl;
}

/*******************
Padding property 
*******************/
.rtl .pl-0 {
    padding-right: 0px !important;
    padding-left: inherit !important;
}

.rtl .pl-5 {
    padding-right: 5px !important;
    padding-left: inherit !important;
}

.rtl .pl-10 {
    padding-right: 10px !important;
    padding-left: inherit !important;
}

.rtl .pl-15 {
    padding-right: 15px !important;
    padding-left: inherit !important;
}

.rtl .pl-20 {
    padding-right: 20px !important;
    padding-left: inherit !important;
}

.rtl .pl-25 {
    padding-right: 25px !important;
    padding-left: inherit !important;
}

.rtl .pl-30 {
    padding-right: 30px !important;
    padding-left: inherit !important;
}

.rtl .pl-35 {
    padding-right: 35px !important;
    padding-left: inherit !important;
}

.rtl .pl-40 {
    padding-right: 40px !important;
    padding-left: inherit !important;
}

.rtl .pl-45 {
    padding-right: 45px !important;
    padding-left: inherit !important;
}

.rtl .pl-50 {
    padding-right: 50px !important;
    padding-left: inherit !important;
}

.rtl .pl-55 {
    padding-right: 55px !important;
    padding-left: inherit !important;
}

.rtl .pl-60 {
    padding-right: 60px !important;
    padding-left: inherit !important;
}

.rtl .pl-65 {
    padding-right: 65px !important;
    padding-left: inherit !important;
}

.rtl .pl-70 {
    padding-right: 70px !important;
    padding-left: inherit !important;
}

.rtl .pl-75 {
    padding-right: 75px !important;
    padding-left: inherit !important;
}

.rtl .pl-80 {
    padding-right: 80px !important;
    padding-left: inherit !important;
}

.rtl .pl-85 {
    padding-right: 85px !important;
    padding-left: inherit !important;
}

.rtl .pl-90 {
    padding-right: 90px !important;
    padding-left: inherit !important;
}

.rtl .pl-95 {
    padding-right: 95px !important;
    padding-left: inherit !important;
}

.rtl .pl-100 {
    padding-right: 100px !important;
    padding-left: inherit !important;
}

.rtl .pr-0 {
    padding-left: 0px !important;
    padding-right: inherit !important;
}

.rtl .pr-5 {
    padding-left: 5px !important;
    padding-right: inherit !important;
}

.rtl .pr-10 {
    padding-left: 10px !important;
    padding-right: inherit !important;
}

.rtl .pr-15 {
    padding-left: 15px !important;
    padding-right: inherit !important;
}

.rtl .pr-20 {
    padding-left: 20px !important;
    padding-right: inherit !important;
}

.rtl .pr-25 {
    padding-left: 25px !important;
    padding-right: inherit !important;
}

.rtl .pr-30 {
    padding-left: 30px !important;
    padding-right: inherit !important;
}

.rtl .pr-35 {
    padding-left: 35px !important;
    padding-right: inherit !important;
}

.rtl .pr-40 {
    padding-left: 40px !important;
    padding-right: inherit !important;
}

.rtl .pr-45 {
    padding-left: 45px !important;
    padding-right: inherit !important;
}

.rtl .pr-50 {
    padding-left: 50px !important;
    padding-right: inherit !important;
}

.rtl .pr-55 {
    padding-left: 55px !important;
    padding-right: inherit !important;
}

.rtl .pr-60 {
    padding-left: 60px !important;
    padding-right: inherit !important;
}

.rtl .pr-65 {
    padding-left: 65px !important;
    padding-right: inherit !important;
}

.rtl .pr-70 {
    padding-left: 70px !important;
    padding-right: inherit !important;
}

.rtl .pr-75 {
    padding-left: 75px !important;
    padding-right: inherit !important;
}

.rtl .pr-80 {
    padding-left: 80px !important;
    padding-right: inherit !important;
}

.rtl .pr-85 {
    padding-left: 85px !important;
    padding-right: inherit !important;
}

.rtl .pr-90 {
    padding-left: 90px !important;
    padding-right: inherit !important;
}

.rtl .pr-95 {
    padding-left: 95px !important;
    padding-right: inherit !important;
}

.rtl .pr-100 {
    padding-left: 100px !important;
    padding-right: inherit !important;
}

@media (max-width: 575px) {
    .rtl .pl-xs-0 {
        padding-right: 0px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xs-5 {
        padding-right: 5px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xs-10 {
        padding-right: 10px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xs-15 {
        padding-right: 15px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xs-20 {
        padding-right: 20px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xs-25 {
        padding-right: 25px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xs-30 {
        padding-right: 30px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xs-35 {
        padding-right: 35px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xs-40 {
        padding-right: 40px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xs-45 {
        padding-right: 45px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xs-50 {
        padding-right: 50px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xs-55 {
        padding-right: 55px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xs-60 {
        padding-right: 60px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xs-65 {
        padding-right: 65px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xs-70 {
        padding-right: 70px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xs-75 {
        padding-right: 75px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xs-80 {
        padding-right: 80px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xs-85 {
        padding-right: 85px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xs-90 {
        padding-right: 90px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xs-95 {
        padding-right: 95px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xs-100 {
        padding-right: 100px !important;
        padding-left: inherit !important;
    }

    .rtl .pr-xs-0 {
        padding-left: 0px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xs-5 {
        padding-left: 5px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xs-10 {
        padding-left: 10px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xs-15 {
        padding-left: 15px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xs-20 {
        padding-left: 20px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xs-25 {
        padding-left: 25px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xs-30 {
        padding-left: 30px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xs-35 {
        padding-left: 35px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xs-40 {
        padding-left: 40px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xs-45 {
        padding-left: 45px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xs-50 {
        padding-left: 50px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xs-55 {
        padding-left: 55px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xs-60 {
        padding-left: 60px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xs-65 {
        padding-left: 65px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xs-70 {
        padding-left: 70px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xs-75 {
        padding-left: 75px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xs-80 {
        padding-left: 80px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xs-85 {
        padding-left: 85px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xs-90 {
        padding-left: 90px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xs-95 {
        padding-left: 95px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xs-100 {
        padding-left: 100px !important;
        padding-right: inherit !important;
    }
}
@media (min-width: 576px) {
    .rtl .pl-sm-0 {
        padding-right: 0px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-sm-5 {
        padding-right: 5px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-sm-10 {
        padding-right: 10px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-sm-15 {
        padding-right: 15px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-sm-20 {
        padding-right: 20px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-sm-25 {
        padding-right: 25px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-sm-30 {
        padding-right: 30px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-sm-35 {
        padding-right: 35px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-sm-40 {
        padding-right: 40px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-sm-45 {
        padding-right: 45px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-sm-50 {
        padding-right: 50px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-sm-55 {
        padding-right: 55px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-sm-60 {
        padding-right: 60px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-sm-65 {
        padding-right: 65px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-sm-70 {
        padding-right: 70px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-sm-75 {
        padding-right: 75px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-sm-80 {
        padding-right: 80px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-sm-85 {
        padding-right: 85px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-sm-90 {
        padding-right: 90px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-sm-95 {
        padding-right: 95px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-sm-100 {
        padding-right: 100px !important;
        padding-left: inherit !important;
    }

    .rtl .pr-sm-0 {
        padding-left: 0px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-sm-5 {
        padding-left: 5px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-sm-10 {
        padding-left: 10px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-sm-15 {
        padding-left: 15px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-sm-20 {
        padding-left: 20px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-sm-25 {
        padding-left: 25px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-sm-30 {
        padding-left: 30px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-sm-35 {
        padding-left: 35px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-sm-40 {
        padding-left: 40px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-sm-45 {
        padding-left: 45px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-sm-50 {
        padding-left: 50px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-sm-55 {
        padding-left: 55px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-sm-60 {
        padding-left: 60px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-sm-65 {
        padding-left: 65px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-sm-70 {
        padding-left: 70px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-sm-75 {
        padding-left: 75px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-sm-80 {
        padding-left: 80px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-sm-85 {
        padding-left: 85px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-sm-90 {
        padding-left: 90px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-sm-95 {
        padding-left: 95px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-sm-100 {
        padding-left: 100px !important;
        padding-right: inherit !important;
    }
}
@media (min-width: 768px) {
    .rtl .pl-md-0 {
        padding-right: 0px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-md-5 {
        padding-right: 5px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-md-10 {
        padding-right: 10px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-md-15 {
        padding-right: 15px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-md-20 {
        padding-right: 20px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-md-25 {
        padding-right: 25px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-md-30 {
        padding-right: 30px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-md-35 {
        padding-right: 35px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-md-40 {
        padding-right: 40px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-md-45 {
        padding-right: 45px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-md-50 {
        padding-right: 50px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-md-55 {
        padding-right: 55px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-md-60 {
        padding-right: 60px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-md-65 {
        padding-right: 65px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-md-70 {
        padding-right: 70px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-md-75 {
        padding-right: 75px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-md-80 {
        padding-right: 80px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-md-85 {
        padding-right: 85px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-md-90 {
        padding-right: 90px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-md-95 {
        padding-right: 95px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-md-100 {
        padding-right: 100px !important;
        padding-left: inherit !important;
    }

    .rtl .pr-md-0 {
        padding-left: 0px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-md-5 {
        padding-left: 5px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-md-10 {
        padding-left: 10px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-md-15 {
        padding-left: 15px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-md-20 {
        padding-left: 20px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-md-25 {
        padding-left: 25px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-md-30 {
        padding-left: 30px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-md-35 {
        padding-left: 35px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-md-40 {
        padding-left: 40px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-md-45 {
        padding-left: 45px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-md-50 {
        padding-left: 50px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-md-55 {
        padding-left: 55px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-md-60 {
        padding-left: 60px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-md-65 {
        padding-left: 65px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-md-70 {
        padding-left: 70px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-md-75 {
        padding-left: 75px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-md-80 {
        padding-left: 80px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-md-85 {
        padding-left: 85px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-md-90 {
        padding-left: 90px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-md-95 {
        padding-left: 95px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-md-100 {
        padding-left: 100px !important;
        padding-right: inherit !important;
    }
}
@media (min-width: 992px) {
    .rtl .pl-lg-0 {
        padding-right: 0px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-lg-5 {
        padding-right: 5px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-lg-10 {
        padding-right: 10px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-lg-15 {
        padding-right: 15px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-lg-20 {
        padding-right: 20px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-lg-25 {
        padding-right: 25px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-lg-30 {
        padding-right: 30px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-lg-35 {
        padding-right: 35px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-lg-40 {
        padding-right: 40px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-lg-45 {
        padding-right: 45px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-lg-50 {
        padding-right: 50px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-lg-55 {
        padding-right: 55px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-lg-60 {
        padding-right: 60px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-lg-65 {
        padding-right: 65px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-lg-70 {
        padding-right: 70px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-lg-75 {
        padding-right: 75px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-lg-80 {
        padding-right: 80px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-lg-85 {
        padding-right: 85px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-lg-90 {
        padding-right: 90px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-lg-95 {
        padding-right: 95px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-lg-100 {
        padding-right: 100px !important;
        padding-left: inherit !important;
    }

    .rtl .pr-lg-0 {
        padding-left: 0px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-lg-5 {
        padding-left: 5px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-lg-10 {
        padding-left: 10px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-lg-15 {
        padding-left: 15px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-lg-20 {
        padding-left: 20px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-lg-25 {
        padding-left: 25px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-lg-30 {
        padding-left: 30px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-lg-35 {
        padding-left: 35px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-lg-40 {
        padding-left: 40px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-lg-45 {
        padding-left: 45px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-lg-50 {
        padding-left: 50px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-lg-55 {
        padding-left: 55px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-lg-60 {
        padding-left: 60px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-lg-65 {
        padding-left: 65px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-lg-70 {
        padding-left: 70px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-lg-75 {
        padding-left: 75px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-lg-80 {
        padding-left: 80px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-lg-85 {
        padding-left: 85px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-lg-90 {
        padding-left: 90px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-lg-95 {
        padding-left: 95px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-lg-100 {
        padding-left: 100px !important;
        padding-right: inherit !important;
    }
}
@media (min-width: 1200px) {
    .rtl .pl-xl-0 {
        padding-right: 0px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xl-5 {
        padding-right: 5px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xl-10 {
        padding-right: 10px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xl-15 {
        padding-right: 15px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xl-20 {
        padding-right: 20px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xl-25 {
        padding-right: 25px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xl-30 {
        padding-right: 30px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xl-35 {
        padding-right: 35px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xl-40 {
        padding-right: 40px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xl-45 {
        padding-right: 45px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xl-50 {
        padding-right: 50px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xl-55 {
        padding-right: 55px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xl-60 {
        padding-right: 60px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xl-65 {
        padding-right: 65px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xl-70 {
        padding-right: 70px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xl-75 {
        padding-right: 75px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xl-80 {
        padding-right: 80px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xl-85 {
        padding-right: 85px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xl-90 {
        padding-right: 90px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xl-95 {
        padding-right: 95px !important;
        padding-left: inherit !important;
    }

    .rtl .pl-xl-100 {
        padding-right: 100px !important;
        padding-left: inherit !important;
    }

    .rtl .pr-xl-0 {
        padding-left: 0px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xl-5 {
        padding-left: 5px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xl-10 {
        padding-left: 10px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xl-15 {
        padding-left: 15px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xl-20 {
        padding-left: 20px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xl-25 {
        padding-left: 25px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xl-30 {
        padding-left: 30px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xl-35 {
        padding-left: 35px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xl-40 {
        padding-left: 40px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xl-45 {
        padding-left: 45px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xl-50 {
        padding-left: 50px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xl-55 {
        padding-left: 55px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xl-60 {
        padding-left: 60px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xl-65 {
        padding-left: 65px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xl-70 {
        padding-left: 70px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xl-75 {
        padding-left: 75px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xl-80 {
        padding-left: 80px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xl-85 {
        padding-left: 85px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xl-90 {
        padding-left: 90px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xl-95 {
        padding-left: 95px !important;
        padding-right: inherit !important;
    }

    .rtl .pr-xl-100 {
        padding-left: 100px !important;
        padding-right: inherit !important;
    }
}
/*******************
Margin property 
*******************/
.rtl .ml-0 {
    margin-right: 0px !important;
    margin-left: inherit !important;
}

.rtl .ml-5 {
    margin-right: 5px !important;
    margin-left: inherit !important;
}

.rtl .ml-10 {
    margin-right: 10px !important;
    margin-left: inherit !important;
}

.rtl .ml-15 {
    margin-right: 15px !important;
    margin-left: inherit !important;
}

.rtl .ml-20 {
    margin-right: 20px !important;
    margin-left: inherit !important;
}

.rtl .ml-25 {
    margin-right: 25px !important;
    margin-left: inherit !important;
}

.rtl .ml-30 {
    margin-right: 30px !important;
    margin-left: inherit !important;
}

.rtl .ml-35 {
    margin-right: 35px !important;
    margin-left: inherit !important;
}

.rtl .ml-40 {
    margin-right: 40px !important;
    margin-left: inherit !important;
}

.rtl .ml-45 {
    margin-right: 45px !important;
    margin-left: inherit !important;
}

.rtl .ml-50 {
    margin-right: 50px !important;
    margin-left: inherit !important;
}

.rtl .ml-55 {
    margin-right: 55px !important;
    margin-left: inherit !important;
}

.rtl .ml-60 {
    margin-right: 60px !important;
    margin-left: inherit !important;
}

.rtl .ml-65 {
    margin-right: 65px !important;
    margin-left: inherit !important;
}

.rtl .ml-70 {
    margin-right: 70px !important;
    margin-left: inherit !important;
}

.rtl .ml-75 {
    margin-right: 75px !important;
    margin-left: inherit !important;
}

.rtl .ml-80 {
    margin-right: 80px !important;
    margin-left: inherit !important;
}

.rtl .ml-85 {
    margin-right: 85px !important;
    margin-left: inherit !important;
}

.rtl .ml-90 {
    margin-right: 90px !important;
    margin-left: inherit !important;
}

.rtl .ml-95 {
    margin-right: 95px !important;
    margin-left: inherit !important;
}

.rtl .ml-100 {
    margin-right: 100px !important;
    margin-left: inherit !important;
}

.rtl .mr-0 {
    margin-left: 0px !important;
    margin-right: inherit !important;
}

.rtl .mr-5 {
    margin-left: 5px !important;
    margin-right: inherit !important;
}

.rtl .mr-10 {
    margin-left: 10px !important;
    margin-right: inherit !important;
}

.rtl .mr-15 {
    margin-left: 15px !important;
    margin-right: inherit !important;
}

.rtl .mr-20 {
    margin-left: 20px !important;
    margin-right: inherit !important;
}

.rtl .mr-25 {
    margin-left: 25px !important;
    margin-right: inherit !important;
}

.rtl .mr-30 {
    margin-left: 30px !important;
    margin-right: inherit !important;
}

.rtl .mr-35 {
    margin-left: 35px !important;
    margin-right: inherit !important;
}

.rtl .mr-40 {
    margin-left: 40px !important;
    margin-right: inherit !important;
}

.rtl .mr-45 {
    margin-left: 45px !important;
    margin-right: inherit !important;
}

.rtl .mr-50 {
    margin-left: 50px !important;
    margin-right: inherit !important;
}

.rtl .mr-55 {
    margin-left: 55px !important;
    margin-right: inherit !important;
}

.rtl .mr-60 {
    margin-left: 60px !important;
    margin-right: inherit !important;
}

.rtl .mr-65 {
    margin-left: 65px !important;
    margin-right: inherit !important;
}

.rtl .mr-70 {
    margin-left: 70px !important;
    margin-right: inherit !important;
}

.rtl .mr-75 {
    margin-left: 75px !important;
    margin-right: inherit !important;
}

.rtl .mr-80 {
    margin-left: 80px !important;
    margin-right: inherit !important;
}

.rtl .mr-85 {
    margin-left: 85px !important;
    margin-right: inherit !important;
}

.rtl .mr-90 {
    margin-left: 90px !important;
    margin-right: inherit !important;
}

.rtl .mr-95 {
    margin-left: 95px !important;
    margin-right: inherit !important;
}

.rtl .mr-100 {
    margin-left: 100px !important;
    margin-right: inherit !important;
}

@media (max-width: 575px) {
    .rtl .ml-xs-0 {
        margin-right: 0px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xs-5 {
        margin-right: 5px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xs-10 {
        margin-right: 10px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xs-15 {
        margin-right: 15px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xs-20 {
        margin-right: 20px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xs-25 {
        margin-right: 25px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xs-30 {
        margin-right: 30px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xs-35 {
        margin-right: 35px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xs-40 {
        margin-right: 40px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xs-45 {
        margin-right: 45px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xs-50 {
        margin-right: 50px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xs-55 {
        margin-right: 55px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xs-60 {
        margin-right: 60px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xs-65 {
        margin-right: 65px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xs-70 {
        margin-right: 70px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xs-75 {
        margin-right: 75px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xs-80 {
        margin-right: 80px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xs-85 {
        margin-right: 85px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xs-90 {
        margin-right: 90px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xs-95 {
        margin-right: 95px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xs-100 {
        margin-right: 100px !important;
        margin-left: inherit !important;
    }

    .rtl .mr-xs-0 {
        margin-left: 0px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xs-5 {
        margin-left: 5px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xs-10 {
        margin-left: 10px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xs-15 {
        margin-left: 15px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xs-20 {
        margin-left: 20px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xs-25 {
        margin-left: 25px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xs-30 {
        margin-left: 30px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xs-35 {
        margin-left: 35px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xs-40 {
        margin-left: 40px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xs-45 {
        margin-left: 45px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xs-50 {
        margin-left: 50px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xs-55 {
        margin-left: 55px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xs-60 {
        margin-left: 60px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xs-65 {
        margin-left: 65px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xs-70 {
        margin-left: 70px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xs-75 {
        margin-left: 75px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xs-80 {
        margin-left: 80px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xs-85 {
        margin-left: 85px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xs-90 {
        margin-left: 90px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xs-95 {
        margin-left: 95px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xs-100 {
        margin-left: 100px !important;
        margin-right: inherit !important;
    }
}
@media (min-width: 576px) {
    .rtl .ml-sm-0 {
        margin-right: 0px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-5 {
        margin-right: 5px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-10 {
        margin-right: 10px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-15 {
        margin-right: 15px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-20 {
        margin-right: 20px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-25 {
        margin-right: 25px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-30 {
        margin-right: 30px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-35 {
        margin-right: 35px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-40 {
        margin-right: 40px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-45 {
        margin-right: 45px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-50 {
        margin-right: 50px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-55 {
        margin-right: 55px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-60 {
        margin-right: 60px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-65 {
        margin-right: 65px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-70 {
        margin-right: 70px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-75 {
        margin-right: 75px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-80 {
        margin-right: 80px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-85 {
        margin-right: 85px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-90 {
        margin-right: 90px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-95 {
        margin-right: 95px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-100 {
        margin-right: 100px !important;
        margin-left: inherit !important;
    }

    .rtl .mr-sm-0 {
        margin-left: 0px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-sm-5 {
        margin-left: 5px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-sm-10 {
        margin-left: 10px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-sm-15 {
        margin-left: 15px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-sm-20 {
        margin-left: 20px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-sm-25 {
        margin-left: 25px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-sm-30 {
        margin-left: 30px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-sm-35 {
        margin-left: 35px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-sm-40 {
        margin-left: 40px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-sm-45 {
        margin-left: 45px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-sm-50 {
        margin-left: 50px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-sm-55 {
        margin-left: 55px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-sm-60 {
        margin-left: 60px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-sm-65 {
        margin-left: 65px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-sm-70 {
        margin-left: 70px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-sm-75 {
        margin-left: 75px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-sm-80 {
        margin-left: 80px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-sm-85 {
        margin-left: 85px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-sm-90 {
        margin-left: 90px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-sm-95 {
        margin-left: 95px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-sm-100 {
        margin-left: 100px !important;
        margin-right: inherit !important;
    }
}
@media (min-width: 768px) {
    .rtl .ml-md-0 {
        margin-right: 0px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-md-5 {
        margin-right: 5px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-md-10 {
        margin-right: 10px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-md-15 {
        margin-right: 15px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-md-20 {
        margin-right: 20px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-md-25 {
        margin-right: 25px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-md-30 {
        margin-right: 30px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-md-35 {
        margin-right: 35px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-md-40 {
        margin-right: 40px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-md-45 {
        margin-right: 45px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-md-50 {
        margin-right: 50px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-md-55 {
        margin-right: 55px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-md-60 {
        margin-right: 60px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-md-65 {
        margin-right: 65px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-md-70 {
        margin-right: 70px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-md-75 {
        margin-right: 75px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-md-80 {
        margin-right: 80px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-md-85 {
        margin-right: 85px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-md-90 {
        margin-right: 90px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-md-95 {
        margin-right: 95px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-md-100 {
        margin-right: 100px !important;
        margin-left: inherit !important;
    }

    .rtl .mr-md-0 {
        margin-left: 0px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-md-5 {
        margin-left: 5px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-md-10 {
        margin-left: 10px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-md-15 {
        margin-left: 15px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-md-20 {
        margin-left: 20px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-md-25 {
        margin-left: 25px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-md-30 {
        margin-left: 30px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-md-35 {
        margin-left: 35px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-md-40 {
        margin-left: 40px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-md-45 {
        margin-left: 45px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-md-50 {
        margin-left: 50px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-md-55 {
        margin-left: 55px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-md-60 {
        margin-left: 60px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-md-65 {
        margin-left: 65px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-md-70 {
        margin-left: 70px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-md-75 {
        margin-left: 75px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-md-80 {
        margin-left: 80px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-md-85 {
        margin-left: 85px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-md-90 {
        margin-left: 90px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-md-95 {
        margin-left: 95px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-md-100 {
        margin-left: 100px !important;
        margin-right: inherit !important;
    }
}
@media (min-width: 992px) {
    .rtl .ml-sm-0 {
        margin-right: 0px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-5 {
        margin-right: 5px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-10 {
        margin-right: 10px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-15 {
        margin-right: 15px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-20 {
        margin-right: 20px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-25 {
        margin-right: 25px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-30 {
        margin-right: 30px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-35 {
        margin-right: 35px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-40 {
        margin-right: 40px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-45 {
        margin-right: 45px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-50 {
        margin-right: 50px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-55 {
        margin-right: 55px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-60 {
        margin-right: 60px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-65 {
        margin-right: 65px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-70 {
        margin-right: 70px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-75 {
        margin-right: 75px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-80 {
        margin-right: 80px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-85 {
        margin-right: 85px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-90 {
        margin-right: 90px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-95 {
        margin-right: 95px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-sm-100 {
        margin-right: 100px !important;
        margin-left: inherit !important;
    }

    .rtl .mr-lg-0 {
        margin-left: 0px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-lg-5 {
        margin-left: 5px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-lg-10 {
        margin-left: 10px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-lg-15 {
        margin-left: 15px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-lg-20 {
        margin-left: 20px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-lg-25 {
        margin-left: 25px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-lg-30 {
        margin-left: 30px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-lg-35 {
        margin-left: 35px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-lg-40 {
        margin-left: 40px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-lg-45 {
        margin-left: 45px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-lg-50 {
        margin-left: 50px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-lg-55 {
        margin-left: 55px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-lg-60 {
        margin-left: 60px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-lg-65 {
        margin-left: 65px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-lg-70 {
        margin-left: 70px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-lg-75 {
        margin-left: 75px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-lg-80 {
        margin-left: 80px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-lg-85 {
        margin-left: 85px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-lg-90 {
        margin-left: 90px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-lg-95 {
        margin-left: 95px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-lg-100 {
        margin-left: 100px !important;
        margin-right: inherit !important;
    }
}
@media (min-width: 1200px) {
    .rtl .ml-xl-0 {
        margin-right: 0px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xl-5 {
        margin-right: 5px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xl-10 {
        margin-right: 10px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xl-15 {
        margin-right: 15px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xl-20 {
        margin-right: 20px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xl-25 {
        margin-right: 25px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xl-30 {
        margin-right: 30px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xl-35 {
        margin-right: 35px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xl-40 {
        margin-right: 40px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xl-45 {
        margin-right: 45px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xl-50 {
        margin-right: 50px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xl-55 {
        margin-right: 55px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xl-60 {
        margin-right: 60px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xl-65 {
        margin-right: 65px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xl-70 {
        margin-right: 70px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xl-75 {
        margin-right: 75px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xl-80 {
        margin-right: 80px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xl-85 {
        margin-right: 85px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xl-90 {
        margin-right: 90px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xl-95 {
        margin-right: 95px !important;
        margin-left: inherit !important;
    }

    .rtl .ml-xl-100 {
        margin-right: 100px !important;
        margin-left: inherit !important;
    }

    .rtl .mr-xl-0 {
        margin-left: 0px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xl-5 {
        margin-left: 5px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xl-10 {
        margin-left: 10px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xl-15 {
        margin-left: 15px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xl-20 {
        margin-left: 20px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xl-25 {
        margin-left: 25px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xl-30 {
        margin-left: 30px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xl-35 {
        margin-left: 35px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xl-40 {
        margin-left: 40px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xl-45 {
        margin-left: 45px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xl-50 {
        margin-left: 50px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xl-55 {
        margin-left: 55px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xl-60 {
        margin-left: 60px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xl-65 {
        margin-left: 65px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xl-70 {
        margin-left: 70px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xl-75 {
        margin-left: 75px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xl-80 {
        margin-left: 80px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xl-85 {
        margin-left: 85px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xl-90 {
        margin-left: 90px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xl-95 {
        margin-left: 95px !important;
        margin-right: inherit !important;
    }

    .rtl .mr-xl-100 {
        margin-left: 100px !important;
        margin-right: inherit !important;
    }
}
.rtl .offset-1 {
    margin-right: 8.333333%;
    margin-left: 0;
}
.rtl .offset-2 {
    margin-right: 16.666667%;
    margin-left: 0;
}
.rtl .offset-3 {
    margin-right: 25%;
    margin-left: 0;
}
.rtl .offset-4 {
    margin-right: 33.333333%;
    margin-left: 0;
}
.rtl .offset-5 {
    margin-right: 41.666667%;
    margin-left: 0;
}
.rtl .offset-6 {
    margin-right: 50%;
    margin-left: 0;
}
.rtl .offset-7 {
    margin-right: 58.333333%;
    margin-left: 0;
}
.rtl .offset-8 {
    margin-right: 66.666667%;
    margin-left: 0;
}
.rtl .offset-9 {
    margin-right: 75%;
    margin-left: 0;
}
.rtl .offset-10 {
    margin-right: 83.333333%;
    margin-left: 0;
}
.rtl .offset-11 {
    margin-right: 91.666667%;
    margin-left: 0;
}

@media (min-width: 576px) {
    .rtl .offset-sm-0 {
        margin-right: 0;
        margin-left: 0;
    }
    .rtl .offset-sm-1 {
        margin-right: 8.333333%;
        margin-left: 0;
    }
    .rtl .offset-sm-2 {
        margin-right: 16.666667%;
        margin-left: 0;
    }
    .rtl .offset-sm-3 {
        margin-right: 25%;
        margin-left: 0;
    }
    .rtl .offset-sm-4 {
        margin-right: 33.333333%;
        margin-left: 0;
    }
    .rtl .offset-sm-5 {
        margin-right: 41.666667%;
        margin-left: 0;
    }
    .rtl .offset-sm-6 {
        margin-right: 50%;
        margin-left: 0;
    }
    .rtl .offset-sm-7 {
        margin-right: 58.333333%;
        margin-left: 0;
    }
    .rtl .offset-sm-8 {
        margin-right: 66.666667%;
        margin-left: 0;
    }
    .rtl .offset-sm-9 {
        margin-right: 75%;
        margin-left: 0;
    }
    .rtl .offset-sm-10 {
        margin-right: 83.333333%;
        margin-left: 0;
    }
    .rtl .offset-sm-11 {
        margin-right: 91.666667%;
        margin-left: 0;
    }
}
@media (min-width: 768px) {
    .rtl .offset-md-0 {
        margin-right: 0;
        margin-left: 0;
    }
    .rtl .offset-md-1 {
        margin-right: 8.333333%;
        margin-left: 0;
    }
    .rtl .offset-md-2 {
        margin-right: 16.666667%;
        margin-left: 0;
    }
    .rtl .offset-md-3 {
        margin-right: 25%;
        margin-left: 0;
    }
    .rtl .offset-md-4 {
        margin-right: 33.333333%;
        margin-left: 0;
    }
    .rtl .offset-md-5 {
        margin-right: 41.666667%;
        margin-left: 0;
    }
    .rtl .offset-md-6 {
        margin-right: 50%;
        margin-left: 0;
    }
    .rtl .offset-md-7 {
        margin-right: 58.333333%;
        margin-left: 0;
    }
    .rtl .offset-md-8 {
        margin-right: 66.666667%;
        margin-left: 0;
    }
    .rtl .offset-md-9 {
        margin-right: 75%;
        margin-left: 0;
    }
    .rtl .offset-md-10 {
        margin-right: 83.333333%;
        margin-left: 0;
    }
    .rtl .offset-md-11 {
        margin-right: 91.666667%;
        margin-left: 0;
    }
}
@media (min-width: 992px) {
    .rtl .offset-lg-0 {
        margin-right: 0;
        margin-left: 0;
    }
    .rtl .offset-lg-1 {
        margin-right: 8.333333%;
        margin-left: 0;
    }
    .rtl .offset-lg-2 {
        margin-right: 16.666667%;
        margin-left: 0;
    }
    .rtl .offset-lg-3 {
        margin-right: 25%;
        margin-left: 0;
    }
    .rtl .offset-lg-4 {
        margin-right: 33.333333%;
        margin-left: 0;
    }
    .rtl .offset-lg-5 {
        margin-right: 41.666667%;
        margin-left: 0;
    }
    .rtl .offset-lg-6 {
        margin-right: 50%;
        margin-left: 0;
    }
    .rtl .offset-lg-7 {
        margin-right: 58.333333%;
        margin-left: 0;
    }
    .rtl .offset-lg-8 {
        margin-right: 66.666667%;
        margin-left: 0;
    }
    .rtl .offset-lg-9 {
        margin-right: 75%;
        margin-left: 0;
    }
    .rtl .offset-lg-10 {
        margin-right: 83.333333%;
        margin-left: 0;
    }
    .rtl .offset-lg-11 {
        margin-right: 91.666667%;
        margin-left: 0;
    }
}
@media (min-width: 1200px) {
    .rtl .offset-xl-0 {
        margin-right: 0;
        margin-left: 0;
    }
    .rtl .offset-xl-1 {
        margin-right: 8.333333%;
        margin-left: 0;
    }
    .rtl .offset-xl-2 {
        margin-right: 16.666667%;
        margin-left: 0;
    }
    .rtl .offset-xl-3 {
        margin-right: 25%;
        margin-left: 0;
    }
    .rtl .offset-xl-4 {
        margin-right: 33.333333%;
        margin-left: 0;
    }
    .rtl .offset-xl-5 {
        margin-right: 41.666667%;
        margin-left: 0;
    }
    .rtl .offset-xl-6 {
        margin-right: 50%;
        margin-left: 0;
    }
    .rtl .offset-xl-7 {
        margin-right: 58.333333%;
        margin-left: 0;
    }
    .rtl .offset-xl-8 {
        margin-right: 66.666667%;
        margin-left: 0;
    }
    .rtl .offset-xl-9 {
        margin-right: 75%;
        margin-left: 0;
    }
    .rtl .offset-xl-10 {
        margin-right: 83.333333%;
        margin-left: 0;
    }
    .rtl .offset-xl-11 {
        margin-right: 91.666667%;
        margin-left: 0;
    }
}
.rtl .mr-auto {
    margin-left: auto !important;
    margin-right: inherit !important;
}
.rtl .ml-auto {
    margin-right: auto !important;
    margin-left: inherit !important;
}

.rtl ul {
    padding-right: 0px;
    -webkit-padding-start: 0px;
}
.rtl .pull-right,
.rtl .float-right {
    float: left !important;
}
.rtl .pull-left,
.rtl .float-left {
    float: right !important;
}
.rtl .main-header .logo {
    float: right;
    text-align: right;
}
.rtl .main-header .navbar {
    -webkit-transition: margin-right 0.3s ease-in-out;
    -o-transition: margin-right 0.3s ease-in-out;
    transition: margin-right 0.3s ease-in-out;
    margin-right: 280px;
    margin-left: 0;
}
.rtl
    .main-header
    .navbar-custom-menu.r-side
    li.dropdown
    .dropdown-toggle
    i::after {
    right: auto;
    left: 16px;
}
.rtl .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    left: 5%;
    right: auto;
}
.rtl
    .navbar-nav
    > .messages-menu
    > .dropdown-menu
    > li
    .menu
    > li
    > a
    > div
    > h4
    > small {
    right: auto;
    left: 0;
}
.rtl
    .navbar-nav
    > .messages-menu
    > .dropdown-menu
    > li
    .menu
    > li
    > a
    > div
    > img {
    margin: auto auto auto 10px;
}
.rtl .navbar-nav > .user-menu > .dropdown-menu > li.user-header .user-name {
    text-align: left;
}
.rtl .navbar-nav > .user-menu > .dropdown-menu > .user-body a i {
    margin-right: auto;
    margin-left: 10px;
}
.rtl .search-box .app-search .srh-btn {
    right: auto;
    left: 15px;
}
.rtl .search-box .app-search input {
    padding: 0px 15px 0px 40px;
}

@media (max-width: 991px) {
    .rtl
        .main-header
        .navbar-custom-menu.r-side
        li.dropdown
        .dropdown-toggle
        i::after {
        left: auto;
    }
}
@media (min-width: 768px) {
    .rtl.sidebar-mini.sidebar-collapse .main-header .navbar {
        margin-left: auto;
    }
}
@media (max-width: 767px) {
    .rtl .main-header .logo {
        text-align: center;
    }
    .rtl .main-header .navbar {
        margin: 0;
    }
}
.rtl .main-header {
    right: 0;
    left: inherit;
}
.rtl .main-header .sidebar-toggle {
    float: right;
}
.rtl .main-header .sidebar-toggle i.ti-align-left:before {
    content: "\e6c1";
}
.rtl .main-header .res-only-view {
    float: right;
}
.rtl .main-header .app-menu .header-megamenu .dropdown-menu {
    left: auto;
    right: 0;
}
.rtl .sidebar-menu .user-profile > a img {
    margin-right: 0px;
    margin-left: 10px;
}
.rtl .sidebar-menu li > a > .pull-right-container {
    right: auto;
    left: 10px;
}
.rtl .sidebar-menu li > a > .pull-right-container > .fa-angle-right {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.rtl .sidebar-menu li > a > .fa-angle-right {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.rtl .sidebar-menu li > a > i {
    margin-right: 0px;
    margin-left: 5px;
}
.rtl .sidebar-menu .menu-open > a > .fa-angle-right {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.rtl .sidebar-menu .menu-open > a > .pull-right-container > .fa-angle-right {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.rtl .sidebar-menu .treeview-menu > li.active > a i.ti-more:before,
.rtl .sidebar-menu .treeview-menu > li > a:hover i.ti-more:before {
    content: "\e629";
}
.rtl.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse
    .sidebar-menu
    > li:hover
    > a
    > span:not(.pull-right) {
    right: 60px;
    left: auto;
}
.rtl.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse
    .sidebar-menu
    > li:hover
    > .treeview-menu {
    right: 60px;
    left: auto;
}
.rtl.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse
    .sidebar-menu
    > li:hover
    > a
    > .pull-right-container {
    float: left;
    right: 250px !important;
    left: auto;
}
.rtl.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse
    .sidebar-menu
    > li:hover
    > a
    > span {
    padding: 15px 20px 15px 5px;
}
.rtl.sidebar-collapse .treeview-menu > li > a {
    padding: 10px 30px 10px 5px;
}
.rtl .treeview-menu > li > a {
    padding: 8px 25px 8px 5px;
}
.rtl .treeview-menu > li > a i {
    padding-left: 20px;
    padding-right: 10px;
    float: right;
    display: inline-table;
    margin-top: 5px;
}
.rtl .main-sidebar {
    right: -1px;
    left: inherit;
}
.rtl.fixed .main-sidebar {
    right: auto;
}
.rtl.fixed .main-footer {
    margin-right: 360px;
    margin-left: 80px;
}
.rtl.fixed.sidebar-mini.sidebar-collapse .main-footer {
    margin-right: 170px;
    margin-left: 80px;
}

@media (max-width: 991px) {
    .rtl.fixed .main-footer {
        margin-right: 320px !important;
        margin-left: 40px !important;
    }
    .rtl.fixed.sidebar-mini.sidebar-collapse .main-footer {
        margin-right: 130px !important;
        margin-left: 40px !important;
    }
}
@media (max-width: 767px) {
    .rtl.fixed .main-footer {
        margin-right: 20px !important;
    }
}
@media (min-width: 768px) {
    .rtl.sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span {
        border-top-right-radius: 0;
        border-top-left-radius: 4px;
    }
}
@media (max-width: 767px) {
    .rtl .main-sidebar {
        -webkit-transform: translate(250px, 0);
        -ms-transform: translate(250px, 0);
        -o-transform: translate(250px, 0);
        transform: translate(250px, 0);
        border-radius: 5px 0 0 5px;
    }
}
.rtl .content-wrapper .content,
.rtl .main-footer {
    margin-left: auto;
    margin-right: 280px;
}

@media (min-width: 768px) {
    .rtl.sidebar-mini.sidebar-collapse .content-wrapper,
    .rtl.sidebar-mini.sidebar-collapse .main-footer,
    .rtl.sidebar-mini.sidebar-collapse .right-side {
        margin-left: auto;
        margin-right: 80px;
    }
    .rtl.sidebar-mini.sidebar-collapse .content-wrapper .content {
        margin-right: 80px;
        margin-left: 80px;
    }
    .rtl.sidebar-mini.sidebar-collapse.layout-boxed .content-wrapper .content {
        margin-left: 0;
    }
}
@media (max-width: 767px) {
    .rtl .content-wrapper,
    .rtl .main-footer {
        margin-right: 0;
    }
    .rtl .content-wrapper .content,
    .rtl .main-footer {
        margin-right: 20px;
    }
    .rtl.layout-boxed .content-wrapper .content,
    .rtl.layout-boxed .main-footer {
        margin-right: 0px;
        margin-left: 20px;
    }
}
@media (min-width: 768px) {
    .rtl.control-sidebar-open .content-wrapper,
    .rtl.control-sidebar-open .main-footer,
    .rtl.control-sidebar-open .right-side {
        margin-left: 345px;
        margin-right: 250px;
    }
}
@media (min-width: 992px) {
    .rtl .content-wrapper,
    .rtl .main-footer,
    .rtl .main-nav > .navbar {
        width: auto;
        margin: 0 80px;
    }
}
@media (max-width: 991px) {
    .rtl .content-wrapper,
    .rtl .main-footer,
    .rtl .main-nav > .navbar {
        width: auto;
        margin: 0 40px !important;
    }
    .rtl.sidebar-mini.sidebar-collapse .content-wrapper .content {
        margin-left: 0;
    }
}
@media (max-width: 767px) {
    .rtl .content-wrapper,
    .rtl .main-footer,
    .rtl .main-nav > .navbar {
        margin: 0 20px !important;
    }
    .rtl .content-wrapper {
        margin-right: 0 !important;
    }
}
.rtl .control-sidebar-open .control-sidebar,
.rtl .control-sidebar-open .control-sidebar-bg {
    right: auto;
    left: 0;
}
.rtl .control-sidebar-open.control-sidebar.control-sidebar-open {
    right: auto;
    left: 0;
}
.rtl
    .control-sidebar-open.control-sidebar.control-sidebar-open
    + .control-sidebar-bg {
    right: auto;
    left: 0;
}
.rtl .control-sidebar,
.rtl .control-sidebar-bg {
    top: 0;
    right: auto;
    left: -345px;
    -webkit-transition: left 0.3s ease-in-out;
    -o-transition: left 0.3s ease-in-out;
    transition: left 0.3s ease-in-out;
}
.rtl .control-sidebar .nav-tabs.control-sidebar-tabs > li {
    margin-left: 30px;
    margin-right: 0px;
}
.rtl .control-sidebar .rpanel-title {
    right: auto;
    left: 0;
}
.rtl .control-sidebar-menu menu-icon {
    float: right;
}
.rtl .control-sidebar-menu .menu-info {
    margin-right: 45px;
    margin-left: auto;
}
.rtl .content-header .mr-auto {
    margin-left: auto !important;
    margin-right: inherit !important;
}
.rtl .content-header .page-title {
    margin: 0 0 0 15px;
    border-left: 1px solid #e6e6e6;
    border-right: 0;
    padding: 7px 0 7px 25px;
}
.rtl .content-header .right-title {
    text-align: left;
}
.rtl .flexbox > *:first-child {
    margin-right: 0;
    margin-left: 4px;
}
.rtl .flexbox > *:last-child {
    margin-left: 0;
    margin-right: 4px;
}
.rtl .box-header > .box-tools,
.rtl .box-header > .box-controls {
    left: 1.5rem;
    right: auto;
}
.rtl .dropdown-menu {
    text-align: right;
}
.rtl .dropdown-item i {
    margin-left: 0.5rem;
    margin-right: 0;
}
.rtl [type="checkbox"] + label {
    padding-left: 0;
    padding-right: 35px !important;
}
.rtl [type="checkbox"] + label:before {
    right: 0;
    left: auto;
}
.rtl [type="checkbox"]:not(.filled-in) + label:after {
    right: 0;
    left: auto;
}
.rtl [type="checkbox"]:checked,
.rtl [type="checkbox"]:not(:checked) {
    right: -9999px;
    left: auto;
}
.rtl [type="checkbox"]:checked + label:before {
    right: 10px;
    left: auto;
}
.rtl [type="checkbox"].filled-in + label:before,
.rtl [type="checkbox"].filled-in + label:after {
    right: 0;
    left: auto;
}
.rtl [type="radio"]:checked + label,
.rtl [type="radio"]:not(:checked) + label {
    padding-left: 0;
    padding-right: 35px !important;
}
.rtl [type="radio"] + label:before,
.rtl [type="radio"] + label:after {
    right: 0;
    left: auto;
}
.rtl [type="radio"]:checked,
.rtl [type="radio"]:not(:checked) {
    right: -9999px;
    left: auto;
}
.rtl .dataTables_wrapper .dataTables_paginate {
    float: left;
}

/*---inner sidebar---*/
.rtl .left-block {
    border-right: none;
    border-left: 1px solid #e6e6e6;
}
.rtl .left-block .open-left-block {
    right: auto;
    left: -41px;
}
.rtl .right-block {
    margin-left: inherit;
    margin-right: 280px;
}
.rtl .reverse-mode .open-left-block {
    right: -41px;
    left: auto;
}
.rtl .reverse-mode .left-block {
    right: inherit;
    left: 0;
    border-left: none;
    border-right: 1px solid #e6e6e6;
}
.rtl .reverse-mode .right-block {
    margin-left: 280px;
    margin-right: 0;
}

@media (max-width: 767px) {
    .rtl .left-block {
        left: inherit;
        right: -280px;
        -webkit-transition: -webkit-transform 0.3s ease-in-out,
            right 0.3s ease-in-out;
        -moz-transition: -moz-transform 0.3s ease-in-out, right 0.3s ease-in-out;
        -o-transition: -o-transform 0.3s ease-in-out, right 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, right 0.3s ease-in-out;
    }
    .rtl .left-block.open-panel {
        left: inherit;
        right: 0;
    }
    .rtl .right-block {
        margin-left: inherit;
        margin-right: 0;
    }
    .rtl .reverse-mode .left-block {
        right: auto;
        left: -280px;
        -webkit-transition: -webkit-transform 0.3s ease-in-out,
            left 0.3s ease-in-out;
        -moz-transition: -moz-transform 0.3s ease-in-out, left 0.3s ease-in-out;
        -o-transition: -o-transform 0.3s ease-in-out, left 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, left 0.3s ease-in-out;
    }
    .rtl .reverse-mode .left-block.open-panel {
        right: inherit;
        left: 0;
    }
}
.rtl .nav-pills > li > a > i {
    margin-left: 5px;
    margin-right: 0;
}
.rtl .flex-column > li > a {
    border-left: none;
    border-right: 3px solid transparent;
}
.rtl .btn-group > .btn-group:not(:last-child) > .btn,
.rtl .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.rtl .btn-group > .btn:first-child {
    margin-left: inherit;
    margin-right: 0;
}
.rtl .btn-group > .btn-group:not(:first-child) > .btn,
.rtl .btn-group > .btn:not(:first-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.rtl .btn-group .btn + .btn,
.rtl .btn-group .btn + .btn-group,
.rtl .btn-group .btn-group + .btn,
.rtl .btn-group .btn-group + .btn-group {
    margin-left: inherit;
    margin-right: -1px;
}
.rtl .btn-group-vertical .btn + .btn,
.rtl .btn-group-vertical .btn + .btn-group,
.rtl .btn-group-vertical .btn-group + .btn,
.rtl .btn-group-vertical .btn-group + .btn-group {
    margin-left: inherit;
    margin-right: -1px;
}
.rtl .btn-group-vertical > .btn + .btn,
.rtl .btn-group-vertical > .btn + .btn-group,
.rtl .btn-group-vertical > .btn-group + .btn,
.rtl .btn-group-vertical > .btn-group + .btn-group {
    margin-right: 0;
}
.rtl .btn-app > .badge {
    left: -10px;
    right: auto;
}
.rtl ul.wysihtml5-toolbar > li {
    float: right;
    margin: 0 0 10px 5px;
}
.rtl .mailbox-attachments li {
    float: right;
    margin-right: inherit;
    margin-left: 10px;
}
.rtl .lookup-circle.lookup-right::before {
    left: 0;
    right: auto;
}
.rtl .direct-chat-img {
    float: right;
}
.rtl .chat-app .direct-chat-text {
    margin: 5px 80px 0 0;
}
.rtl .chat-app .right .direct-chat-text {
    float: left;
    text-align: left;
}
.rtl .right .direct-chat-text p {
    float: left;
}
.rtl .form-control + .input-group-addon:not(:first-child) {
    border-left: 1px solid #9e9e9e;
    border-right: 0;
    border-radius: 5px 0px 0px 5px;
}
.rtl .form-control + .input-group-addon:not(:first-child) {
    border-left: 1px solid #2f363c;
}
.rtl .gap-items > *:last-child,
.rtl .gap-items-3 > *:last-child,
.rtl .gap-items-4 > *:last-child,
.rtl .gap-items-5 > *:last-child {
    margin-left: 0;
    margin-right: inherit;
}
.rtl .gap-items > *:first-child,
.rtl .gap-items-3 > *:first-child,
.rtl .gap-items-4 > *:first-child,
.rtl .gap-items-5 > *:first-child {
    margin-right: 0;
    margin-left: inherit;
}
.rtl .gap-y.gap-items > *,
.rtl .gap-y.gap-items-3 > * {
    margin: 8px;
}
.rtl .media-body .media > *:first-child {
    margin-right: 0;
    margin-left: 1rem;
}
.rtl .modal-header .close {
    margin: -15px auto -15px -15px;
}
.rtl .external-event i {
    margin-left: 5px;
    margin-right: 0;
}
.rtl .external-event i.fa-hand-o-right:before {
    content: "\f0a5";
}
.rtl .fc th,
.rtl .fc-basic-view td.fc-week-number,
.rtl .fc-icon,
.rtl .rtl .fc-toolbar {
    text-align: center;
}
.rtl .box-profile.nav-tabs-custom > .nav-tabs > li {
    margin-left: 5px;
    margin-right: 0;
}
.rtl .user-block img {
    float: right;
}
.rtl .user-block .comment,
.rtl .user-block .description,
.rtl .user-block .username {
    margin-left: 0;
    margin-right: 50px;
}
.rtl .todo-list > li .tools {
    float: left;
}
.rtl .owl-carousel,
.rtl .flexslider2,
.rtl .flexslider {
    direction: ltr;
}
.rtl .slider.slider-vertical .slider-tick,
.rtl .slider.slider-vertical .slider-handle {
    margin-right: -10px;
    margin-top: -10px;
}

@media screen and (min-width: 641px) {
    .rtl .timeline__box {
        padding-right: 105px;
        padding-left: 0;
    }
    .rtl .timeline5:before {
        right: 38px;
        left: inherit;
    }
}
.rtl .timeline__year {
    right: 0;
    left: inherit;
}
.rtl .timeline__date {
    right: 0;
    left: inherit;
}
.rtl .timeline__post {
    border-left: none;
    border-right: 3px solid #007bff;
}

@media screen and (max-width: 640px) {
    .rtl .timeline5:before {
        right: 0;
    }
    .rtl .timeline__box {
        padding-right: 20px;
        padding-left: 0;
    }
}
.rtl .timeline .timeline-label {
    float: right;
}
.rtl .timeline .timeline-item {
    float: right;
    clear: right;
    padding-left: 30px;
    padding-right: 0;
}
.rtl .timeline .timeline-item > .timeline-point {
    left: -24px;
    right: inherit;
}
.rtl .timeline .timeline-item > .timeline-event:before {
    left: -15px;
    right: inherit;
    border-left-width: 0;
    border-right-width: 15px;
}
.rtl .timeline .timeline-item > .timeline-event:after {
    left: -14px;
    right: inherit;
    border-left-width: 0;
    border-right-width: 14px;
}
.rtl .timeline .timeline-item.timeline-item-right,
.rtl .timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) {
    float: left;
    clear: left;
    padding-left: 0;
    padding-right: 30px;
}
.rtl .timeline .timeline-item.timeline-item-right > .timeline-point {
    right: -24px;
    left: inherit;
}
.rtl
    .timeline
    .timeline-item.timeline-item-right
    > .timeline-point.timeline-point-blank {
    right: -12px;
}
.rtl .timeline .timeline-item.timeline-item-right > .timeline-event:before,
.rtl .timeline .timeline-item.timeline-item-right > .timeline-event:after {
    left: auto !important;
    border-right-width: 0 !important;
}
.rtl .timeline .timeline-item.timeline-item-right > .timeline-event:before {
    right: -15px !important;
    border-left-width: 15px !important;
}
.rtl
    .timeline
    .timeline-item:nth-of-type(even):not(.timeline-item-left)
    > .timeline-point {
    right: -24px;
    left: inherit;
}
.rtl
    .timeline
    .timeline-item:nth-of-type(even):not(.timeline-item-left)
    > .timeline-point.timeline-point-blank {
    right: -12px;
}
.rtl
    .timeline
    .timeline-item:nth-of-type(even):not(.timeline-item-left)
    > .timeline-event:before,
.rtl
    .timeline
    .timeline-item:nth-of-type(even):not(.timeline-item-left)
    > .timeline-event:after {
    left: auto !important;
    border-right-width: 0 !important;
}
.rtl
    .timeline
    .timeline-item:nth-of-type(even):not(.timeline-item-left)
    > .timeline-event:before {
    right: -15px !important;
    border-left-width: 15px !important;
}
.rtl .timeline .timeline-item.timeline-item-arrow-lg > .timeline-event:after {
    left: -17px;
    right: inherit;
    border-left-width: 0;
    border-right-width: 17px;
}
.rtl .timeline .timeline-item.timeline-item-arrow-lg > .timeline-event:before {
    left: -18px;
    right: inherit;
    border-left-width: 0;
    border-right-width: 18px;
}
.rtl .timeline .timeline-item > .timeline-point.timeline-point-blank {
    left: -12px;
    right: inherit;
}
.rtl
    .timeline
    .timeline-item.timeline-item-arrow-sm.timeline-item-right
    > .timeline-event:before {
    right: -10px !important;
    left: inherit !important;
    border-left-width: 10px !important;
    border-right-width: 0 !important;
}
.rtl
    .timeline
    .timeline-item.timeline-item-arrow-sm.timeline-item-right
    > .timeline-event:after {
    right: -9px !important;
    left: inherit !important;
    border-left-width: 9px !important;
    border-right-width: 0 !important;
}
.rtl
    .timeline
    .timeline-item.timeline-item-arrow-sm:nth-of-type(even):not(.timeline-item-left)
    > .timeline-event:before {
    right: -10px !important;
    left: inherit !important;
    border-left-width: 10px !important;
    border-right-width: 0 !important;
}
.rtl
    .timeline
    .timeline-item.timeline-item-arrow-sm:nth-of-type(even):not(.timeline-item-left)
    > .timeline-event:after {
    right: -9px !important;
    left: inherit !important;
    border-left-width: 9px !important;
    border-right-width: 0 !important;
}
.rtl .timeline.timeline-single-column.timeline .timeline-item {
    padding-right: 72px;
    padding-left: 0;
}
.rtl
    .timeline.timeline-single-column.timeline
    .timeline-item
    > .timeline-point {
    transform: translateX(50%);
    right: 42px !important;
    left: inherit !important;
    margin-right: 0;
    margin-left: inherit;
}
.rtl
    .timeline.timeline-single-column.timeline
    .timeline-item.timeline-item-arrow-sm
    > .timeline-event:before,
.rtl
    .timeline.timeline-single-column.timeline
    .timeline-item.timeline-item-arrow-sm
    > .timeline-event:after {
    left: auto !important;
    border-right-width: 0 !important;
}
.rtl
    .timeline.timeline-single-column.timeline
    .timeline-item.timeline-item-arrow-sm
    > .timeline-event:before {
    right: -10px !important;
    border-left-width: 10px !important;
}
.rtl
    .timeline.timeline-single-column.timeline
    .timeline-item.timeline-item-right {
    padding-right: 72px;
    padding-left: 0;
}
.rtl
    .timeline.timeline-single-column.timeline
    .timeline-item:nth-of-type(even):not(.timeline-item-left) {
    padding-right: 72px;
    padding-left: 0;
}
.rtl
    .timeline.timeline-single-column.timeline
    .timeline-item
    > .timeline-event:before,
.rtl
    .timeline.timeline-single-column.timeline
    .timeline-item
    .timeline-event:after {
    left: auto !important;
    border-right-width: 0 !important;
}
.rtl
    .timeline.timeline-single-column.timeline
    .timeline-item
    > .timeline-event:before {
    right: -15px !important;
    border-left-width: 15px !important;
}
.rtl .timeline.timeline-single-column.timeline:before {
    right: 42px;
    left: inherit;
    margin-right: -1px;
    margin-left: inherit;
}
.rtl .timeline.timeline-single-column.timeline .timeline-label {
    transform: translateX(50%);
    margin: 0 42px 20px 0;
}

@media (max-width: 767px) {
    .rtl .timeline.timeline:before {
        right: 42px;
        left: inherit;
    }
    .rtl .timeline.timeline .timeline-label {
        transform: translateX(50%);
        margin: 0 42px 20px 0;
    }
    .rtl .timeline.timeline .timeline-item {
        padding-right: 72px;
        padding-left: 0;
    }
    .rtl .timeline.timeline .timeline-item > .timeline-point {
        transform: translateX(50%);
        right: 42px !important;
        margin-right: 0;
    }
    .rtl .timeline.timeline .timeline-item > .timeline-event:before,
    .rtl .timeline.timeline .timeline-item > .timeline-event:after {
        left: auto !important;
        border-right-width: 0 !important;
    }
    .rtl .timeline.timeline .timeline-item > .timeline-event:before {
        right: -15px !important;
        border-left-width: 15px !important;
    }
    .rtl .timeline.timeline .timeline-item.timeline-item-right {
        padding-right: 72px;
        padding-left: 0;
    }
    .rtl
        .timeline.timeline
        .timeline-item:nth-of-type(even):not(.timeline-item-left) {
        padding-right: 72px;
        padding-left: 0;
    }
}
.rtl .ribbon-box .ribbon {
    float: right;
    margin-right: -30px;
    margin-left: 0px;
}
.rtl .fontawesome-icon-list .fa-hover i,
.rtl .ion-icon-list .ion-hover i {
    padding-left: 10px;
    padding-right: 0;
}
.rtl .btn-toggle.btn-sm.btn-sm:before,
.rtl .btn-toggle.btn-sm.btn-sm:after {
    right: 0.4125rem;
    left: inherit;
}
.rtl .dp-divider {
    border-right: 2px solid #999999 !important;
    border-left: none !important;
}
.rtl .media .custom-control [type="checkbox"] + label {
    padding-left: 0px;
}
.rtl .jq-has-icon {
    padding: 10px 50px 10px 10px;
    background-position-x: 95%;
}
.rtl .jq-toast-single {
    text-align: right !important;
}
.rtl .close-jq-toast-single {
    left: 7px;
    right: auto;
}
.rtl .myadmin-alert {
    text-align: right;
}
.rtl .myadmin-alert .closed {
    left: 3px;
    right: auto;
}
.rtl .myadmin-alert .img {
    left: auto;
    right: 12px;
}
.rtl .myadmin-alert-img {
    padding-right: 65px;
    padding-left: 12px;
}
.rtl .grid-stack {
    direction: ltr;
}
.rtl .nav.no-gutters > .nav-link:first-child,
.rtl .nav.no-gutters .nav-item:first-child .nav-link {
    padding-right: 0;
    padding-left: 1.072rem;
}
.rtl .owl-item .text-left {
    text-align: right !important;
}
.rtl .info-box-content {
    padding: 10px 0 10px 10px;
    margin-right: 90px;
    margin-left: inherit;
}
.rtl .info-box .progress {
    margin: 5px 0 5px -10px;
}
.rtl .info-box-icon {
    float: right;
}
.rtl .small-box .icon {
    left: 10px;
    right: inherit;
}
.rtl .small-box > .small-box-footer {
    text-align: left;
}
.rtl .direct-chat-text {
    margin: 5px 50px 0 0;
}
.rtl .right .direct-chat-text {
    float: left;
}
.rtl .input-group-addon:not(:last-child) {
    border-left: 0;
    border-right: 1px solid #e6e6e6;
    border-radius: 0px 5px 5px 0px;
}
.rtl .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    text-align: right;
}
.rtl .wizard-content .wizard.vertical > .steps {
    float: right;
}
.rtl .dataTables_filter {
    float: left;
}
.rtl .knob {
    margin-left: 0;
    margin-right: -115px;
}
.rtl .product-text .pro-price {
    right: 5px;
    left: auto;
}
.rtl .product-img {
    text-align: right !important;
}
.rtl .ekko-lightbox-nav-overlay a:last-child span {
    text-align: left;
}
.rtl .white-popup-block {
    text-align: right;
}
.rtl .content-bottom {
    border-radius: 25px 0 0 25px;
}
.rtl .content-top-agile {
    border-radius: 0 25px 25px 0;
}
.rtl .content-top-agile:after {
    left: 0;
    right: auto;
}
.rtl .auth-2 {
    float: left;
}
.rtl .has-feedback .form-control-feedback {
    left: 0;
    right: auto;
}
.rtl .custom-file-label::after {
    border-radius: 5px 0 0 5px !important;
}
.rtl .vtabs .tabs-vertical {
    border-right: none;
    border-left: 1px solid rgba(51, 51, 51, 0.13);
}
.rtl .vtabs .tabs-vertical li .nav-link {
    border-radius: 0 4px 4px 0px;
}
.rtl .vtabs .tabs-vertical li .nav-link:hover,
.rtl .vtabs .tabs-vertical li .nav-link:active,
.rtl .vtabs .tabs-vertical li .nav-link:focus,
.rtl .vtabs .tabs-vertical li .nav-link.active {
    border-left-width: 2px;
    border-style: solid;
    border-right: none;
}
.rtl .nav-tabs .nav-item + .nav-item {
    margin-right: 2px;
}
.rtl .nav {
    padding-right: 0;
}
.rtl .navbar-nav .nav-item {
    float: right;
}
.rtl .navbar-nav .nav-item + .nav-item {
    margin-right: 1rem;
    margin-left: inherit;
}
.rtl th {
    text-align: right;
}
.rtl .alert-dismissible {
    padding-right: 1.25rem;
    padding-left: 4rem;
}
.rtl .checkbox label {
    padding-right: 1.25rem;
    padding-left: inherit;
}
.rtl .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-radius: 0 0.25rem 0.25rem 0;
}
.rtl .btn-group > .btn:last-child:not(:first-child),
.rtl .btn-group > .dropdown-toggle:not(:first-child) {
    border-radius: 0.25rem 0 0 0.25rem;
}
.rtl .btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
}
.rtl .custom-control-label:before,
.rtl .custom-control-label:after {
    right: 0;
    left: inherit;
}
.rtl .custom-select {
    padding: 0.375rem 0.75rem 0.375rem 1.75rem;
    background: #fff
        url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
        no-repeat left 0.75rem center;
    background-size: 8px 10px;
}
.rtl
    .input-group
    > .input-group-append:last-child
    > .btn:not(:last-child):not(.dropdown-toggle),
.rtl
    .input-group
    > .input-group-append:last-child
    > .input-group-text:not(:last-child),
.rtl .input-group > .input-group-append:not(:last-child) > .btn,
.rtl .input-group > .input-group-append:not(:last-child) > .input-group-text,
.rtl .input-group > .input-group-append > .btn,
.rtl .input-group > .input-group-append > .input-group-text {
    border-radius: 0 5px 5px 0;
}
.rtl .input-group > .input-group-append > .btn,
.rtl .input-group > .input-group-append > .input-group-text,
.rtl .input-group > .input-group-append:first-child > .btn:not(:first-child),
.rtl
    .input-group
    > .input-group-append:first-child
    > .input-group-text:not(:first-child),
.rtl .input-group > .input-group-append:not(:first-child) > .btn,
.rtl .input-group > .input-group-append:not(:first-child) > .input-group-text {
    border-radius: 5px 0 0 5px;
}
.rtl .input-group > .custom-select:not(:first-child),
.rtl .input-group > .form-control:not(:first-child) {
    border-radius: 5px 0 0 5px;
}
.rtl .input-group > .custom-select:not(:last-child),
.rtl .input-group > .form-control:not(:last-child) {
    border-radius: 0 5px 5px 0;
}
.rtl .input-group > .custom-select:not(:last-child):not(:first-child),
.rtl .input-group > .form-control:not(:last-child):not(:first-child) {
    border-radius: 0;
}
.rtl .custom-control {
    padding-right: 0;
    padding-left: inherit;
    margin-right: inherit;
    margin-left: 1rem;
}
.rtl .custom-control-indicator {
    right: 0;
    left: inherit;
}
.rtl .custom-file-label::after {
    right: initial;
    left: -1px;
    border-radius: 0.25rem 0 0 0.25rem;
}
.rtl .radio input,
.rtl .radio-inline,
.rtl .checkbox input,
.rtl .checkbox-inline input {
    margin-right: -1.25rem;
    margin-left: inherit;
}
.rtl .list-group {
    padding-right: 0;
}
.rtl .close {
    float: left;
}
.rtl .modal-header .close {
    margin: -15px auto -15px -15px;
}
.rtl .modal-footer > :not(:first-child) {
    margin-right: 0.25rem;
}
.rtl .alert-dismissible .close {
    right: inherit;
    left: 0;
}
.rtl .dropdown-toggle::after {
    margin-right: 0.255em;
    margin-left: 0;
}
.rtl .form-check-input {
    margin-right: -1.25rem;
    margin-left: inherit;
}
.rtl .form-check-label {
    padding-right: 1.25rem;
    padding-left: inherit;
}

/*# sourceMappingURL=style_rtl.css.map */
